* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.elm-gameroom-home {
  padding: 60px 20px;
  text-align: center;
}

.elm-gameroom-home-link {
  display: block;
  max-width: 300px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  background: #2D739E;
  margin: 15px auto;
}

.elm-gameroom-home-link:first-of-type {
  margin-top: 30px;
}

.elm-gameroom-home-link:last-of-type {
  margin-bottom: 30px;
}
